In [7]:
import pandas as pd
import pymongo
from pymongo import MongoClient

# CSV dosyasını oku
df = pd.read_csv("elektriktuketim_data.csv", sep=",")

# Yeni sütun adları
new_columns = ["date", "hour", "store_id", "imwh"]

# Sütun adlarını değiştir
df.columns = new_columns

# İlk birkaç satırı göster
df.head()

         date  hour  store_id       imwh
0  2022-06-05     7      6193   56.28347
1  2022-06-05    10      1012  104.77353
2  2022-06-05     6      1096   89.07027
3  2022-06-05    11      3604  152.54100
4  2022-06-05    22       318  125.04532

In [8]:
#fonksiyon
def getThresholds(store_id, upper_limit):
    magaza_data = df[df["store_id"] == store_id]
    magaza_data = magaza_data.sort_values(by="hour")
    threshold_data = magaza_data[magaza_data["imwh"] > upper_limit]
    return threshold_data
    print(threshold_data)

store_id = 282
upper_limit = 55

threshold_result = getThresholds(store_id, upper_limit)
threshold_result

           date  hour  store_id     imwh
96   2022-06-05    10       282  55.8862
85   2022-06-05    12       282  55.3246
176  2022-06-05    19       282  55.3258
39   2022-06-05    20       282  56.5668

In [11]:
cluster1=MongoClient("mongodb+srv://oykuarrda:2023mongo@cluster0.jjvqbvn.mongodb.net/?retryWrites=true&w=majority")
db = cluster1['mydatabase']
collection = db['mycollection']

In [12]:
# Çekilen veriyi liste şeklinde dönüştürmeliymişiz
records_to_insert = threshold_result.to_dict('records')
collection.insert_many(records_to_insert)